#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.302);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

#nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-logo {
  padding-bottom: 30px;
}

.nav-link {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.nav-link:hover:not(:has(#main-logo)) {
  background-color: rgba(177, 177, 177, 0.3);
  backdrop-filter: blur(10px);
}

.switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .switch {
    position: relative;
    width: 30px;
    height: 15px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.3s;
  }

  .slider::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }

  input:checked + .slider {
    background-color: #61D7A6;
  }

  input:checked + .slider::before {
    transform: translateX(15px);
  }